[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla TraceParser Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% PROCESS global/header.html.tmpl
   title = "Trace $trace.id From Bug $trace.bug.id" 
%]

[% IF identical_traces.size %]
  <h2>Traces with an identical stack:</h2>
  [% PROCESS trace_list list = identical_traces %]
[% END %]

[% IF similar_traces.size %]
  <h2>Traces with a <em>similar</em> stack:</h2>
  [% PROCESS trace_list list = similar_traces %]
[% END %]

<h2>Trace [% trace.id FILTER html %]</h2>

<table border="0" cellpadding="0" cellspacing="0"><tr><td><div class="trace">
<pre>[% trace.text FILTER html %]
</pre></div></td></tr></table>

[% PROCESS global/footer.html.tmpl %]

[% BLOCK trace_list %]
  [% FOREACH product = list.keys.sort %]
    <p>In <strong>[% product FILTER html %]</strong>:</p>
    <ul class="trace_list">
      [% FOREACH this_trace = list.$product %]
        [% SET bug = this_trace.bug %]
        <li>
          <a href="page.cgi?id=trace.html&amp;trace_id=
                   [%- this_trace.id FILTER url_quote %]">Trace 
            [% this_trace.id FILTER html %]</a> on
          [%+ "Bug $bug.id" FILTER bug_link(bug) %]:
          [% bug.bug_status FILTER html %] [%+ bug.resolution FILTER html %]
          [% IF bug.dup_id %]
            of [% "bug $bug.dup_id" FILTER bug_link(bug.dup_id) %]
          [% END %]
          (Quality: <strong>[% this_trace.quality FILTER html %]</strong>)
        </li>
      [% END %]
    </ul>
  [% END %]
[% END %]
