[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla TraceParser Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

</pre>
[% SET show = (user.settings.traceparser_show_traces.value == 'on') %]
<p class="trace_link" title="See Full Trace">
  <a class="trace_toggle_box" href="#"
     title="Expand/Collapse Trace"
     onclick="traceparser_toggle_trace(this, [% trace.id FILTER html %]); return false;">
    [%~ IF show %]&mdash;[% ELSE %]+[% END %]</a>
  <a href="page.cgi?id=traceparser/trace.html&trace_id=
           [%- trace.id FILTER url_quote %]">Trace
    [%+ trace.id FILTER html %]</a></p>

<table border="0" cellpadding="0" cellspacing="0"><tr><td>
<div class="trace [% ' bz_default_hidden' IF !show %]"
     id="trace_[% trace.id FILTER html %]">
  [% IF trace.type.match('Python') %]
    <ul class="frames">
      [% SET thread = trace.stack.threads.0 %]
      [% FOREACH frame = thread.frames.reverse %]
        <li class="frame">
          File "<span class="frame_file">[% frame.file FILTER html %]</span>",
          line <span class="frame_line">[% frame.line FILTER html %]</span>
          [% IF frame.function %]
            in <span class="frame_function">
                 [%- frame.function FILTER html %]</span>
          [% END %]
          [% IF frame.code %]
            <pre class="frame_code">[% frame.code FILTER html %]</pre>
          [% END %]
        </li>
      [% END %]
    </ul>
    [% IF thread.description %]
      <span class="thread_description">
        [%- thread.description FILTER html %]</span>
    [% END %]
  [% ELSE %]
    [% IF trace.interesting_threads %]
      [% threads = trace.interesting_threads %]
    [% ELSE %]
      [% threads = trace.stack.threads %]
    [% END %]

    [% FOREACH thread = threads %]
      [% IF thread.number || thread.description %]
        <p class="thread_description">Thread [% thread.number FILTER html %]
          ([% thread.description FILTER html %])</p>
      [% END %]

      <ul class="frames">
        [% FOREACH frame = thread.frames %]
          <li class="frame [% ' crash' IF frame.is_crash %]">
            [% IF frame.number.defined %]
              <span class="frame_number">#[% frame.number FILTER html %]</span>
            [% END %]
            <span class="frame_function">[% frame.function FILTER html %]</span>
            [% IF frame.library %]
              <div class="frame_library_container">
                from
                <span class="frame_library">[% frame.library FILTER html %]</span>
              </div>
            [% END %]
            [% IF frame.file %]
              <div class="frame_file_container">
                at <span class="frame_file">[% frame.file FILTER html %]</span>
                [% IF frame.line %]
                  line
                  <span class="frame_line">[% frame.line FILTER html %]</span>
                [% END %]
              </div>
            [% END %]
          </li>
        [% END %]
      </ul>
    [% END %]
  [% END %]
</div>
</td></tr></table>
<pre>
