  <div class="intro">This is GNOME Bugzilla which collects wishes, bugs and crashes
  reported by users and developers. For participating you need a personal account.
  It allows you to create reports, add comments, and observe development by
  subscribing to updates.</div>

  <h2>Common links</h2>

  <ul>
    [% IF user.id %]
      <li>
        <a href="page.cgi?id=describeuser.html">Reported by and assigned to me</a>
      </li>
    [% END %]
    <li>
      <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=5d">Created in last 5 days</a>
    </li>
    <li>
      <a href="buglist.cgi?chfieldfrom=5d">Changed in last 5 days</a>
    </li>
  </ul>
