  <div class="intro" style="border: 1px grey solid; margin-top: 5px; padding: 5px">
  This is GNOME Bugzilla which collects wishes, bugs and crashes reported by users
  and developers. For participating you need a personal account. It allows you to
  create reports, add comments, and observe development by subscribing to updates.
  </div>

  <div id="commonqueries">
    <h2>Common links</h2>
    [% IF user.id %]
      <div>
        <a href="page.cgi?id=describeuser.html">Reported by and assigned to me</a>
      </div>
    [% END %]
    <div>
      <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=5d">Created in last 5 days</a>
    </div>
    <div>
      <a href="buglist.cgi?chfieldfrom=5d">Changed in last 5 days</a>
    </div>
  </div>
