[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla TraceParser Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% PROCESS global/header.html.tmpl
   title = "Most Popular Traces"
%]

<form action="page.cgi" method="GET">
<div>
  <input type="hidden" name="id" value="traceparser/popular-traces.html">
  Show the top
  <input type="text" size="3" name="limit" value="[% limit FILTER html %]">
  traces.
  <input type="submit" value="Go">
</div>
</form>

<p>Most popular traces (as determined by comparing their first few
  functions):</p>

<ul class="trace_list">
  [% FOREACH trace = traces %]
    <li>
      <a href="page.cgi?id=traceparser/trace.html&amp;trace_id=
               [%- trace.id FILTER url_quote %]">
        [%- trace_count.${trace.id} FILTER html %]</a>:
      [% FOREACH function = trace.short_stack %]
        [% function FILTER html %]
        [%- ' &rarr; ' UNLESS loop.last() %]
      [% END ~%]
    </li>
  [% END %]
</ul>

[% PROCESS global/footer.html.tmpl %]
