[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla TraceParser Plugin.
  #
  # The Initial Developer of the Original Code is Canonical Ltd.
  # Portions created by Canonical Ltd. are Copyright (C) 2009
  # Canonical Ltd. All Rights Reserved.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% PROCESS global/header.html.tmpl
   title = "Trace $trace.id From Bug $trace.bug.id" 
%]

[% IF user.in_group('traceparser_edit') %]
  <h2>Properties of trace [% trace.id FILTER html %]</h2>
  <form action="page.cgi?id=traceparser/trace.html&amp;trace_id=
                [%- trace.id FILTER url_quote %]"
        method="POST">
  <div>
    <p>If a trace with an <em>identical</em> function stack is submitted,
    automatically refer the user to this [% terms.bug %]:
    <input type="text" size="5" id="identical_dup" name="identical_dup"
           value="[% trace.identical_dup_id FILTER html %]"></p>

    <p>If a trace with a <em>similar</em> (but <strong>not</strong>
      identical) function stack is submitted, automatically refer
      to user to this [% terms.bug %]:
      <input type="text" size="5" id="similar_dup" name="similar_dup"
             value="[% trace.similar_dup_id FILTER html %]"></p>

    <input type="hidden" name="action" value="update">
    <input type="submit" value="Submit" id="submit_trace">
  </div>
  </form>
[% END %]

[% IF identical_traces.size %]
  <h2>Traces with an identical stack:</h2>
  [% PROCESS trace_list list = identical_traces %]
[% END %]

[% IF similar_traces.size %]
  <h2>Traces with a <em>similar</em> stack:</h2>
  [% PROCESS trace_list list = similar_traces %]
[% END %]

<h2>Trace [% trace.id FILTER html %] 
  (Quality: [% trace.quality FILTER html %]) on 
  [%+ "$terms.Bug $trace.bug.id" FILTER bug_link(trace.bug) %]</h2>

<table border="0" cellpadding="0" cellspacing="0"><tr><td><div class="trace">
<pre>[% trace.text FILTER html %]
</pre></div></td></tr></table>

[% PROCESS global/footer.html.tmpl %]

[% BLOCK trace_list %]
  [% FOREACH product = list.keys.sort %]
    <p>In <strong>[% product FILTER html %]</strong>:</p>
    <ul class="trace_list">
      [% FOREACH this_trace = list.$product %]
        [% SET bug = this_trace.bug %]
        <li>
          <a href="page.cgi?id=traceparser/trace.html&amp;trace_id=
                   [%- this_trace.id FILTER url_quote %]">Trace
            [%+ this_trace.id FILTER html %]</a>
          (Quality: <strong>[% this_trace.quality FILTER html %]</strong>)
          on
          [%+ "Bug $bug.id" FILTER bug_link(bug) %]:
          [% bug.bug_status FILTER html %] [%+ bug.resolution FILTER html %]
          [% IF bug.dup_id %]
            of [% "bug $bug.dup_id" FILTER bug_link(bug.dup_id) %]
          [% END %]
        </li>
      [% END %]
    </ul>
  [% END %]
[% END %]
