/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

    /* copy #top_bar background from gnome.org to "background" - bug 744410 */
    #titles {
        width: 100%;
        /* background-color: #404D6C; */
        background: url("./top_bar-bg.png") repeat-x scroll center top #2E3436;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 110%;
        margin: 0;
        padding: 0.5em;
        vertical-align: bottom;
    }

