/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

    /* 1:1 copy from standard skin so BZ picks up custom frontpage images - bug 744236 */
    #enter_bug { background: url(index/file-a-bug.png)     no-repeat; }
    #query     { background: url(index/search.png)  no-repeat; }
    #account   { 
      background: url(index/new-account.png) no-repeat; 
      margin-right: 0;
    }

