[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN IF !bug %]

[% IF bottom_navigator == 1 %]
  <ul class="related_actions">
    <li><a href="show_bug.cgi?format=multiple&amp;id=
                [% bug.bug_id FILTER uri %]">Format For Printing</a></li>
    <li>&nbsp;-&nbsp;<a href="show_bug.cgi?ctype=xml&amp;id=
                        [% bug.bug_id  FILTER uri %]">XML</a></li>
    <li>&nbsp;-&nbsp;<a href="enter_bug.cgi?cloned_bug_id=
                        [% bug.bug_id  FILTER uri %]">Clone This 
                        [% terms.Bug %]</a></li>
    [%# Links to more things users can do with this bug. %]
    [% Hook.process("links") %]
    <li>&nbsp;-&nbsp;<a href="#">Top of page </a></li>
    </ul>
[% END %]        
